<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baidu.duer.dcs">
    <!-- 根节点manifest的package指定了该App的包名 -->
    <!-- APP运行的配置文件 -->
    <!-- users-permission节点用于声明该App运行过程中需要的权限名称 -->
    <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 外存储写权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 外存储读权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> <!-- 连接网络权限，用于执行云端语音能力 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 配置权限，用来记录应用配置信息 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" /> <!-- 读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 如需使用人脸识别，还要添加：摄相头权限，拍照需要用到 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 手机定位信息，用来为语义等功能提供定位，提供更精准的服务 -->
    <!-- 定位信息是敏感信息，可通过Setting.setLocationEnable(false)关闭定位请求 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 不加这一句的话,使用下载管理器会报致命错误 -->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:name=".androidapp.DcsSampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".chinatalk.SpinnerIconActivity"></activity>
        <!-- Bmob -->
        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.baidu.duer.dcs.BmobContentProvider"></provider>

        <activity android:name=".chinatalk.TabFragmentActivity" />
        <activity android:name="com.iflytek.mscv5plusdemo.WakeDemo" />
        <activity android:name="com.iflytek.mscv5plusdemo.IvwActivity" />
        <activity android:name="com.iflytek.mscv5plusdemo.MainActivity" />
        <activity android:name="com.iflytek.mscv5plusdemo.AsrDemo" />
        <activity android:name="com.iflytek.mscv5plusdemo.IatDemo" />
        <activity android:name="com.iflytek.mscv5plusdemo.TtsDemo" />
        <activity android:name="com.iflytek.mscv5plusdemo.OneShotDemo" />
        <activity android:name=".chinatalk.Dev_code" />
        <activity android:name=".chinatalk.WrongQuesBookActivity" />
        <activity android:name=".chinatalk.UserInformationActivity" />
        <activity android:name=".chinatalk.TestScoreActivity" />
        <activity android:name=".Fragment.ChinaTalkTestCenterFragment" />
        <activity android:name=".chinatalk.SelectTestActivity" />
        <activity android:name=".chinatalk.ResultTestActivity" />
        <activity android:name=".chinatalk.RegActivity" />
        <activity android:name=".chinatalk.ReChangePsdActivity" />
        <activity android:name=".chinatalk.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Fragment.ChinaTalkMyFragment" />
        <activity android:name=".chinatalk.GameActivity" />
        <activity android:name=".chinatalk.EditInformationActivity" />
        <activity android:name=".chinatalk.AnnouncementActivity" /> <!-- application还有一些子节点,如  活动activity  服务service  广播接收器receiver  内容提供器provider等 -->
        <activity
            android:name=".androidapp.DcsSampleOAuthActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".androidapp.DcsSampleMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".androidapp.DcsSampleScreenHtmlActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".androidapp.MainActivity"></activity>
        <activity android:name=".androidapp.NewsDetailActivity" />
        <activity android:name=".androidapp.CultureActivity" />
        <activity android:name=".androidapp.XihuActivity" />
        <activity android:name=".androidapp.XihuTakePhotoActivity" />
        <activity android:name=".testActivity" />
    </application>

</manifest>